*{/*aplica um reset geral no estilo da página, removendo margens e preenchimentos padrão e definindo box-sizing: border-box;
 para todos os elementos. Além disso, define a família de fontes padrão para toda a página como 'Montserrat', 'Kanit', ou, se não disponíveis, a fonte sans-serif genérica.*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Kanit', sans-serif;
}
/*move o cabeçalho para cima em 120 pixels, possivelmente para sobrepor algum conteúdo na parte superior da página.*/
header{
    margin-top: -120px;
}
/*Define a altura do corpo da página como 100% da altura da viewport.*/
body{
    height: 100vh;
}
/*Aplica uma margem superior de 10 pixels para os elementos <div> com a classe "texto".*/
div.texto{
    margin-top: 10px;
}
/*O restante do código segue a lógica de cascata para estilizar os cartões dos filmes*/
.titulo{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

main.card{
    display: flex;
    padding: 32px;
}

main.card section.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(117deg, rgba(0,0,0,1) 0%, rgba(24,24,36,1) 62%, rgba(100,126,131,1) 100%);
    padding: 1rem 1.5rem;
    border-radius: 12px;
    max-height: 350px;
    margin-left: 15px;
    box-shadow: 20px 20px 50px -30px white;
}

main.card section.cards .icon{
    width: 100px;
    height: 250px;
}

main.card section.cards img{
    width: 100%;
}

main.card section.cards h3{
    margin: 10px 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

main.card section.cards span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    max-width: 240px;
}

main.card section.cards .btn{
    margin-top: 12px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    background-color: white;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 70%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
}

main.card section.cards .btn:hover{
    background-color: #aaaa;
}